*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #000000;
}

body
{
    width: 100vw;
    height: 100vh;
}

main
{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

.signin-container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-container img
{
    width: 130px;
    height: 92px;
    margin-top: 72px;
}

.signin-container input
{
    width: 261px;
    height: 54px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    outline: 0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 94px;
}

.signin-container input[type=button]
{
    width: 109px;
    height: 45px;
    border: 0;
    outline: 0;
    background: #E7E7E7;
    border-radius: 9px;
    margin-top: 15px;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    padding: 0 22px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header #exit-btn img
{
    width: 75px;
    height: 53px;
}

header a img
{
    width: 42px;
    height: 31px;
}


.mensagens-container
{
    margin-top: 26px;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow-y: scroll;
    padding-block: 100px;
}

.mensagem
{
    padding: 15px 8px;
    background-color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

.mensagem-header
{
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    word-wrap: none;
}

.mensagem-content
{
    word-wrap: break-word;
}

.status
{
    background-color: #DCDCDC;
}

.private_message
{
    background-color: #FFDEDE;
}

footer
{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    left: 0px;
    bottom: 0px;
    padding-inline: 18px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer a img 
{
    width: 26px;
    height: 26px;
}

footer textarea 
{
    border: 0;
    outline: 0;
    width: 100%;
    word-wrap: break-word;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
}

footer textarea::placeholder
{
    color: #000000;
    font-style: italic;
}

.modal
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.contacts-container
{
    background-color: #FFFFFF;
    width: 0px;
    height: 100%;
    margin-left: auto;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
}


.contacts-container-header
{
    padding-inline: 46px;
    padding-block: 18px;
    height: 84px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    padding: 20px;
    text-align: center;
}

.contacts-container-main
{
    margin-top: 4px;
    overflow-y: auto;
}

.contacts-container ul
{
   display: flex;
   flex-direction: column;
   gap: 1px;
   padding-inline: 16px;
   font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.contacts-container li
{
   display: flex;
   align-items: center;
   gap: 8px;
   MIN-height: 36px;
}

.contacts-container .check 
{
    justify-self: flex-end;
    margin-left: auto;
}

.contacts-container-footer .check
{
    justify-self: flex-end;
    margin-left: auto;
    visibility: hidden;
}

.contacts-container-footer .selected .check
{
    
    visibility: visible;
}

.contacts-container-main ul li img .person
{
   width: 20px;
   height: 20px;
}

.modal.triggered
{
    visibility: visible;
    opacity: 1;
}

.modal.triggered > .contacts-container
{
    width: 259px;
}